<%= if match?({:ok, _, _, _}, @decoded_input_data) do %>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><%= gettext "Input" %></h1>
      <!-- Input -->
      <%= case @decoded_input_data do %>
        <% {:ok, method_id, text, mapping} -> %>
          <%= render(BlockScoutWeb.TransactionView, "_decoded_input_body.html", method_id: method_id, text: text, mapping: mapping) %>
        <% _ -> %>
      <% end %>
    </div>
  </div>
<% end %>
